.home-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-green);
}

.home-text {
  border: 0.3rem #00b4d8;
  width: 50rem;
  border-style: solid;
  border-radius: 0.9rem;
  padding: 2rem;
  margin: 3rem;
  margin-bottom: 7rem;
  color: var(--primary-green);
}

@media (max-width: 768px) {
  .home-text {
    width: 80%;
  }
}
