:root {
  --primary-white: #fff;
  --primary-blue: #0984e3;
  --primary-green: #78e08f;
  --secondary-blue: #0c2461;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --background-color: #19282f;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: var(--background-color);
}
