.App {
  text-align: center;
}
:root {
  --primary-white: #fff;
  --primary-blue: #0984e3;
  --primary-green: #78e08f;
  --secondary-blue: #0c2461;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
}
body {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #78e08f;
}

.App-link {
  color: #61dafb;
}

/***********NAVBAR***********/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.04rem;
  cursor: pointer;
}
nav ul li {
  text-transform: lowercase;
}
.navbar-nav > li > a {
  color: var(--primary-green) !important;
  margin-right: 0.8rem;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.2rem solid var(--primary-blue);
}
.navbar-nav > li > a:hover {
  border-top: 0.2rem solid var(--primary-blue);
}
/***********HEADER***********/
.header-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.main-info h1 {
  color: var(--primary-white);
}

.typed-text {
  font-size: 3rem;
  color: black;
}

.home-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.home-text {
  border: 0.3rem #00b4d8;
  width: 50rem;
  border-style: solid;
  border-radius: 0.9rem;
  padding: 2rem;
  margin: 3rem;
  margin-bottom: 7rem;
  color: var(--primary-green);
}
@media (max-width: 768px) {
  .home-text{  
    width: 80%;
  }
  
}


/*-------TYPED TEXT ---------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-green);
}

/*   Contacts    */
.contacts {
  margin-top: 1rem;
  padding: 0.6rem;
  color: var(--primary-green);
}

.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--secondary-blue);
  border-radius: 0;
  color: var(--primary-blue);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
  padding: 2rem;
  padding-left: 0rem !important;
}

.contacts .container {
  padding: 4rem 0;
}
.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: #61dafb;
  border-bottom: 0.125rem solid var(--primary-blue);
}

.contacts textarea {
  height: 10.4rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: auto;
}
/******RESUME******/
.resume-container {
  padding: 2rem;
  margin: 2rem;
  border: solid var(--primary-blue);
  border-radius: 24rem;
  color: var(--primary-green);
}


/******ABOUT******/
.about-container{
 justify-content: center;
}
.about-text {
  padding: 2rem;
  color: var(--primary-green);
}
.about-description {
  color: var(--primary-green);
  border: solid #00b4d8;
  display: grid;
  place-items: center;
  padding: 1.3rem;
  margin: auto;
  width: 30rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .about-container{
    width: 100%;
    justify-content: center;
  }
  .about-description{
    display: flex;
    justify-content: center;
    width: fit-content;
  }


}

/******EXPERIENCE******/

.experience-wrapper {
  position: relative;
  padding: 0.125rem 0;
  overflow: hidden;
}

.experience-h1 {
  text-transform: uppercase;
  color: var(--primary-green);
}

.experience-wrapper ::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0, 0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
}

.timeline-block {
  width: calc(50% + 0.5rem); 
  display: flex;
  justify-content: space-between;
  clear: both;
  margin-bottom: 3rem;
}

.timeline-block-right {
  float: right;
}
.timeline-block-left {
  float: left;
  direction: rtl;
}
.timeline-content {
  width: 95%;
  /* padding: 0.09375rem; */
  color: var(--primary-dark-grey);
  direction: ltr;
}
.marker{
width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-green);
  background-color: var(--primary-dark-grey);
  margin-top: 0.625rem;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-green);
  font-weight: 900;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
  display: flex;
}
.portfolioImage {
  padding: 2rem;
  width: 100%;
  height: auto;
}

.portfolio-textContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  border: 0.3rem;
  border-style: solid;
  color: var(--primary-green);
  border-radius: 2rem;
  border-color: #00b4d8;
}
/*-------Footer---------*/

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  padding: 0.4rem;
}

/*-------MEDIA---------*/

@media(max-width: 768px) {
  .container-experience-wrapper {
    padding-left: 0;
  }

  .container-experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  .marker {
    width: 0%;
  }
  .portfolio-textContent{
    width: 60%;
  }
  .marker{
    width: 50%;
  }
 
    .timeline-block-right {
      float: none;
      width: 100%;
    }
  }
